<article
    class="flex flex-col items-center justify-center gap-8 text-pretty text-white dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo Carlos Garcia soy un apasionado ingeniero en sistemas con
            una fascinación especial por el mundo de la programación y el
            desarrollo web. Mi lenguaje de elección es Python, una herramienta
            poderosa que me ha permitido explorar y crear soluciones
            innovadoras.
        </p>
        <p>
            He emprendido el camino dentro del desarrollo web, y específicamente,
            he canalizado mi creatividad a través del framework Django. Este
            entorno robusto y versátil ha sido mi lienzo digital, donde he dado
            vida a ideas y proyectos que van más allá de la simple
            funcionalidad.
        </p>
        <p>
            Mi camino en la informática no se limita al código. He caminado como
            técnico en informática, proporcionando soporte técnico y realizando
            mantenimiento correctivo. Esta experiencia me ha enseñado la
            importancia de la eficiencia y la resolución de problemas.
        </p>
    </div>

    <img
        width="200"
        height="200"
        src="public/Carlos-abut.png"
        alt="CarlosPhoto"
        class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
